// body {
// @include container(show);

// }

// CREATE GRID SYSTEM 
// .container {
//   @include container (show);
//   @include susy-breakpoint(600px, 4) {
//   @include container (show);
//   }

//   @include susy-breakpoint(900px, 10) {
//   @include container (show);
// }
// }


//section { @include clearfix;}


.preamble {
	// @include span(2 of 4);
	// @include push(1);
	position:relative;


}

.preamble blockquote {
	max-width:700px;
	margin: 0 auto;
	
	@include clearfix;
	// position: fixed;
	// bottom:5em;
	// @include span(2 of 4);

}
.portrait {
	@include span(1 at 1 of 4);	
}

#bio {margin-top:3em;}

#filmmaking {
	// font-size: 1.1rem;
	
	@include span(2 at 2 of 4);
			
}
#terminology {
	height:1200px
}

footer {
    text-align:center;
    padding-top: 20em;
    padding-bottom: 6em;
}
footer ul {
    padding: 0;
    text-align: center;
   
}
footer li {
    display:inline;
}

