// SIZE DECLARATIONS
// =========================

html { 
     @include breakpoint (240px) {
        font-size:40%; 
    }
    @include breakpoint (580px) {
        font-size:50%; 
    }
    @include breakpoint (768px) {
        font-size:56%; 
    }
    @include breakpoint (960px) {
        font-size:62.5%; 
    }
} 
body { font-size: 14px; font-size: 1.6rem; } /* =16px */
h1   { font-size: 61px; font-size: 6.1036rem; /* =61px */
     @include breakpoint (240px) {
        font-size: 51px; font-size:5.1rem; 
    }
    @include breakpoint (580px) {
        font-size: 61px; font-size:6.1036rem; 
    }
    } 
h2   { font-size: 48px; font-size: 4.8829rem; } /* =48px */
h3   { font-size: 39px; font-size: 3.9063; } /* =39px */
h4   { font-size: 31px; font-size: 3.125rem; } /* =31px */
h5   { font-size: 25px; font-size: 2.5rem; } /* =25px */
h6   { font-size: 20px; font-size: 2rem; } /* =20px */
p  { font-size: 17px; font-size: 1.7rem; 
    line-height: 2.8rem;/* =16px */
    color:$base-c;
    @include breakpoint (240px) {
        font-size: 20px; font-size: 2rem; 
    }
    @include breakpoint (580px) {
        font-size: 17px; font-size: 1.7rem;
    }
    } 
li { font-size: 14px; font-size: 1.333rem;/* =14px? */
    @include breakpoint (240px) {
        font-size: 2rem; 
    }
    @include breakpoint (580px) {
        font-size: 1.6rem;
    }

 } 

@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome.eot?79779215');
  src: url('../fonts/fontawesome.eot?79779215#iefix') format('embedded-opentype'),
       url('../fonts/fontawesome.svg?79779215#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontawesome';
    src: url('../font/fontawesome.svg?79779215#fontawesome') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
 
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  // margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


::selection {
    background: pink;
    color: #222;
}


body {
    font-family: "proxima-nova",sans-serif;
    color: $base-c;
    background-color: $base-c;
}

#slide-1 h1 {
    font-family: "p22-underground-sc",sans-serif;
    // font-size: 3rem; 
    text-align: center;
    margin: 1em 0 0 0;
    padding: 0;
    letter-spacing: .09em;
    color: $base-c;
}

#slide-1  h5, #slide-1  h5 ul {
    font-family: "proxima-nova",sans-serif;
    // font-size: 2.4vw; 
    text-align: center;
    color: $second-c;
    letter-spacing: .09em;
}

#slide-1  h5 {
    @include breakpoint (280px) {
    margin-top: 0em;
    padding-top: 0;
    }
      @include breakpoint (420px) {
    margin-top: -1em;
    padding-top: 0;
    }
    
}

.preamble blockquote {
    font-size:26px; font-size: 2.6rem;
    // border-right: 2px solid $base-c;
}

#slide-1 .listwrapper {
    display:table;
    margin:0 auto;
}
#slide-1 .director-icon {
    font-family: cdings; 
    font-size:10em; 
    display: block;
    color: $base-c ;
    text-align: center;
    margin-left: -.1em;
}

#slide-1 ul {
     list-style: none;
    padding: 0;
    max-width: 720px;
    @include breakpoint (240px) {
        margin-left:-13%;
    }
    @include breakpoint (380px) {
    margin-left: -26%;}

}

#slide-1 ul li {
    display: inline;
    
    @include breakpoint (240px) {
        margin-left: 0em; 
    }
    @include breakpoint (580px) {
    margin-left: 3.4em; }
    
      @include breakpoint (768px) {
        margin-left: 4.4em;
    }  
}

#slide-1 ul li a {
    padding-top:2em;
    
}

//#slide-1 ul li:last-child {
//    float:right;
//    width: 30%;
//  
//}

//#slide-1 ul li a {
//    padding-top: .8em;
//    display:block;
//    text-align: left;
//    padding-top:1em;
//    
//}

//#slide-1 ul li a.icon-mail {
//    padding-left:2em;
//    
//}

a {
    text-decoration: none;
    color: $base-c;
}

// a.icon-mail {background-color: blue;}
// a.icon-pdf {background-color: green;}
// a.icon-about {background-color: pink;}

i span:before {
    font-family: 'fontawesome';
    content: '\e84e';
    margin-left: .2em;
    font-size: 3em;
    position: relative;
    top: .1em;
}

.md-content i {margin-left:80%;}

.md-content i a {
    color: whitesmoke;
}
.md-content h3 {margin-top:.5em;}

#slide-1 .icon:before {
    position: relative;
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 2.6em;
    top: -1em;
    left: 1.3em;
    padding-top: 2.2em;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 
}

footer .icon {
    color:whitesmoke;
}

#slide-1 a.icon-about:before {
    content: '\e84d';
   
    
    
}
#slide-1 a.icon-pdf:before {
    content: "\e825";
    left: 1.4em;
  
}


a.icon-mail {
    text-align:right;}

#slide-1 a.icon-mail:before {
    content: "\e819";
    left: 1.2em;
    
}


// @include breakpoint(380px) {
//     #slide-1 ul li a {
//         width: 16vw;
//         // background-color: pink;
//     }
//   }

//   @include breakpoint(600px) {
//     #slide-1 ul li a {
//         width: 18vw;
//         // background-color: blue;
// }
       
//     }
 
// // @include breakpoint(990px) {
// //     #page-header ul li{
// //         padding-right: 13vw;
// //         // background-color: green;
// //     }
// //   }
// @include breakpoint(990px) {
//    #slide-1 ul li a {
//         width: 20vw;
//         // background-color: purple;
// }
        
//     }
 


// #slide-1 ul li:last-child {
    
//     float: right;
//     width:2.3em;
// }


a:hover, a:hover:before  { 
    color:#F10061;
    @include transition-duration(.3s);
}

#filmmaking p {text-align:left;}
#filmmaking span {font-weight:bold;}

#terminology p:first-child {
    color: $bg1;
    text-align:right;
    padding-right:5em;
}

footer h5, footer p {color:whitesmoke;}
footer p {font-size: .8em;}
footer  li a.icon span {display:none;}

//FOOTER ICONS

a.icon-twitter:before {
    content: "\e844";
    font-size: 3em;

}

a.icon-linkedin:before {
    content: "\e83e";
    font-size: 3em;

}

a.icon-vimeo:before {
    content: "\e846";
    font-size: 3em;

}

a.icon-flickr:before {
    content: "\e837";
    font-size: 3em;

}

a.icon-soundcloud:before {
    content: "\e84c";
    font-size: 3em;

}



#slide-4 h2 {color: whitesmoke; }
#slide-5 h2, #slide-7 h2, #slide-9 h2  {color: $base-c; }
/*
@font-face {
	font-family: 'cdings';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon?#iefix') format('embedded-opentype'),
		 url('../fonts/icomoon.woff') format('woff'),
		 url('../fonts/icomoon.ttf') format('truetype'),
		 url('../fonts/icomoon.svg#FontName') format('svg');
	font-style: normal;
	font-weight: normal;
}    
*/
