.figure {
  margin-bottom: 0.5em;
  margin-left: 2.53164557%;  /* 12px / 474px */
  width: 48.7341772%;  /* 231px / 474px */
  overflow: hidden;
}

.clip-figure {
  width: 59.4%; 
}

img {
	max-width:100%;
	height: auto;

}

.crop {
    width: 111%;
    display: inline-block;
}

.clip-path {
   	-webkit-clip-path: inset(0% 10% 0% 8%);
    margin-left: -8%;
}

